<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>{% block title %}Electronics Commerce{% endblock %}</title>

    <style type="text/css">
        .min-h-100 {
            min-height: 100%;
        }
       
    </style>
</head>

<body>
    <div class="row">
    <div id="header1" class="bg-info col-sm-12 col-md-12 col-lg-12">
        <h1>
            {% block header %}
                My Application
            {% endblock %}
        </h1>
    </div>
    </div>
    <div class="row">
    <div id="sidebar" class="min-h-100 min-h-800 bg-light border col-sm-2 col-md-2 col-lg-2">
        {% block sidebar %}
        <ul style="list-style-type:none;">
            <li><a href="/admin/"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>
            <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Product</a></li>
            <li><a href="/cart/"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content" class="min-h-100 bg-light col-sm-10 col-md-10 col-lg-10" style="min-height:100%;">
        {% block content %}{% endblock %}
    </div>
    </div>

    
</body>
</html>